<!-- C'est ici qu'on appelle le composant my-vuetable -->
<!-- En lui passant directement une URL construite proprement à partit du choix d'un Pokemon -->


<template>
<div>
    <slot name="detail"> </slot>
    <br />
    <br />
Choisissez votre Pokemon avec son identifiant:
<input type="number" min="1" max="802" v-model="nombre">                
<button @click="chercheNom">Je te choisis !</button>                 
<img v-bind:src="imgPokemon">
<span> Nom : {{nomPokemon}} </span> 

<div class="ui container" v-if="matable==1">
    <my-vuetable  :url="this.apiUrl"></my-vuetable>
   </div>
</div>
</template>


<script>
import axios from 'axios'
import MyVuetable from './MyVuetable'


export default {
    components: {
    MyVuetable
  },
  data () {
    return {
	imgPokemon: null,
    nomPokemon: null,
    nombre: null,
    matable: null,
    apiUrl: null
    }
  },
  methods: {
	chercheNom() {
            let apiUrl = "https://pokeapi-215911.firebaseapp.com/api/v2/pokemon/" + this.nombre;
            
            axios.get(apiUrl)
                .then(response => {                    
                    this.nomPokemon = response.data.forms[0].name;
                    this.imgPokemon = response.data.sprites.front_default;

                });
            
            let matable=1;
            this.apiUrl = apiUrl ;
            this.matable=matable ;
            
        }
  }
}
</script>