<template>
  <vuetable ref="vuetable"
    :api-url="url"
    :fields="['stat.name','base_stat','effort']"
      data-path="stats"

  ></vuetable>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'

export default {
  props: ['url']
  ,
  components: {
    Vuetable 
  }
}
</script>
