<!-- Création du template dans le fichier App.vue -->
<!-- Appel des autres composants. -->



<template>
  <div id="app">
     <div class="ui container">
       <h1>Pokemon J1</h1>
      <mon-poke ref="premierPoke">
        <template slot="detail"> 
    Veuillez choisir les caractéristiques du 1er Pokemon 
      </template>
        </mon-poke>        
    </div>

       <div class="ui container">
       <h1>Pokemon J2</h1>
      <mon-poke ref="secondPoke">
        <template slot="detail"> 
    Veuillez choisir les caractéristiques du 2ème Pokemon 
      </template>
        </mon-poke>        
    </div>
    <div>
      Son petit nom est:
      <button @click="getPokes()">Combattez !</button>  

    </div>
  </div>
  
</template>

<script>
import MonPoke from './components/MonPoke'


export default {
  name: 'app',
  components: {
    MonPoke
  },
  methods: {
  // Used to focus the input from the parent
  getPokes: function () {
    document.write("Le premier Poke est "+this.$refs.premierPoke.nombre)
    document.write("Le second Poke est "+this.$refs.secondPoke.nombre)

}
}
}
</script>
 

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>